{% extends "base.html.twig" %}

{% block title %}Genres{% endblock %}

{% block body %}
  {% if error is defined %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
  <div class="d-flex mb-2">
    <a class="btn btn-success" href="/genres/create">New genre</a>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for genre in genres %}
      <tr>
        <th scope="row">{{ genre.id }}</th>
        <td>{{ genre.name }}</td>
        <td>
          <div class="d-flex">
            <div class="edit-wrapper mr-2">
              <a class="btn btn-warning" href="/genres/edit?id={{ genre.id }}">Edit</a>
            </div>
            <div class="delete-wrapper">
              <form method="post" action="/genres/delete">
                <input type="hidden" name="id_genre" value="{{ genre.id }}">
                <button class="btn btn-danger"
                        type="submit">Delete</button>
              </form>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}